* {
    margin: 0;
    padding: 0;
    border-style: none;
}

body{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    background-color: white;
    z-index: 5;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.topMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 40px 0 40px;
    background-color: rgb(95, 171, 252);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border-radius: 10px;
}

.logo img {
    display: flex;
    max-height: 60px;
    margin: 5px;  
}

.headerMenu {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.ulButMenu {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.ulButMenu li {
    margin: 5px 10px;
}

.headerAccess {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

/* Меню калькулятора */
main { 
    width: 100%;
    background-color:white;
}

.centerMenu h1 {
    margin-left: 10px;
    max-width: 350px;
}

.centerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 60px 0 60px;
    background-color: rgb(50, 115, 185);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border-radius: 10px;
    z-index: 5;
    position: fixed;
    top:40px;
    left:0;
    right:0;
}

.menuCyti {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}

.from_city {
    display: flex;
    margin: 4px;

}

.tableLabel {
    font-size: 23px;
    font-weight: 600;
    margin-right: 8px;
}

.tableInput {
    padding-left: 5px;
    width: 100%;
    font-size: 22px;
    border-radius: 7px;
    border-color: black;
    border-style: solid;
}

.in_the_city {
    display: flex;
    margin: 4px;
}

.in_the_city label {
    margin-right: 33px;
}

.cont_inform_menu {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin: 200px 60px 0 60px;
}
/* <!-- Д х Ш х В --> */
.inform_menu {
    display: flex;
    flex-direction: column;
    margin: 15px ;
    background-color: rgb(50, 115, 185);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border-radius: 10px;
    max-width: 500px;
    padding: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header p{
    max-width: 80px;
    font-size: 22px; 
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 12px;
}

.btn-close {
    color: rgb(50, 115, 185);
    border-color: rgb(50, 115, 185);
    background-color: rgb(50, 115, 185);
}
.btn-close img {
    width: 34px;
    height: auto;
}

.size_fields,
.parameter_fields {
    display: flex;
    flex-direction: row;
}

.field_length, 
.field_width,
.field_height,
.field_weight,
.field_quantity {
    margin: 12px;
}

.buttonsMenu button {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 40px;
    margin-top: 7px;
    border-radius: 10px;
    padding: 5px;z-index: 5;
    position: fixed;
    top:205px;
    right:10px;
    border-style: solid;
}
.buttonsMenu button:last-child {
    top:360px;
}

.buttonsMenu button>p {   
    writing-mode: vertical-lr;
    text-orientation: upright;
}